<!--<app-date></app-date>-->
<!--<app-one-way></app-one-way>-->
<!--<app-two-way></app-two-way>-->
<!--<app-ng-style-ng-class></app-ng-style-ng-class>-->

<div>
  <h3>Angular routes</h3>
  <nav>
    <a routerLink=""> home </a>
    <a routerLink="/about"> about </a>
    <a routerLink="/news"> news </a>
    <a routerLink="/price"> price </a>
  </nav>
  <router-outlet></router-outlet>
</div>

User id : <input type="text" [(ngModel)]="userId">

<button (click)="search()">Search</button>
<div *ngIf="response">
  <p> name: {{response.name}}</p>
  <p> location: {{response.location.name}}</p>
  <img src="{{response.image}}" alt="">
  <p> created: {{response.created | date }}</p>
</div>
